
.idea/.idea.myspot/.idea/encodings.xml
.idea/.idea.myspot/.idea/indexLayout.xml
.idea/.idea.myspot/.idea/vcs.xml
.vs/myspot/FileContentIndex/0c5b39e4-f175-44d8-84e6-8aa720f98e3c.vsidx
.vs/myspot/v17/DocumentLayout.json
